*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(260deg, #0e71b3 0%, #c16ecf 100%);
}
#main{
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #1c1c1c;
    transition: all .5s ease-in;
    background-color: white;
    text-align: center;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h1{
    margin: 1rem auto;
    font-size: 2rem;
    font-style: italic;
    text-decoration: underline;
}
#btn-list{
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}
#blogs{
    height: 250px;
    max-height: 50vh;
    overflow: scroll;
}
#blogs a{
    color: black;
    text-decoration: none;
}
@media only screen and (min-width: 600px) {
    #blogs{
        margin: 1rem auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-gap: 10px;
        justify-content: center;
    }
}
.blog{
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: .5rem;
    background-color: aliceblue;
    cursor: pointer;
    box-shadow: 5px 5px 10px #c1c1c1;
    transition: all .25s ease-in;
}
.blog:hover{
    background-color: rgba(216, 216, 216, 0.8);
}
#users-table{
    width: 80%;
    margin: .5rem auto;
    border-radius: 5px;
    box-shadow: 2.5px 2.5px 10px #1c1c1c;
}
#users-table,th,td{
    border: 1px solid #1c1c1c;
    padding: .25rem;
}
.user-view h2{
    text-transform: uppercase;
}
.user-view h2, 
.user-view h3 {
    font-style: italic;
}
.user-view ul,
.blog-view ul{
    list-style: none;
    width: 80%;
    margin: .5rem auto;
    max-width: 300px;
    background-color: #e6e6e696;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 5px 5px 10px #1c1c1c;
}
.user-view ul li,
.blog-view ul li{
    margin: .25rem auto;
    text-align: left;
    font-size: 18px;
}
.formDiv{
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.418);
    max-width: 550px;
}
.input-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
input{
    display: block;
    margin: .5rem auto;
    width: 60%;
    max-width: 250px;
    height:2rem;
    border:none;
    border:1px solid #1c1c1c;
    border-radius: 10px;
    outline:none;
    padding:.5rem;
}
button{
    margin: .5rem;
    width: 75px;
    padding: .5rem;
    font-size: 14px;
    font-family: monospace;
    border:none;
    box-shadow: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #c1c1c1;
    transition: all .5s ease;
    outline: none;
    cursor: pointer;
  }
  button:hover{
    box-shadow: none;
}
.error{
    width: 80%;
    padding: .5rem;
    margin: 1rem auto;
    background-color: rgb(199, 199, 199);
    border: red 2px solid;
    border-radius: 15px;
    color:red;
    font-size: 1.5rem;
    font-style: italic;
}
.success{
    width: 80%;
    padding: .5rem;
    margin: 1rem auto;
    background-color: rgb(199, 199, 199);
    border: green 2px solid;
    border-radius: 15px;
    color:green;
    font-size: 1.5rem;
    font-style: italic;
}